@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
}

header {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

section {
  margin: 40px auto;
  max-width: 600px;
  padding: 10px;
  background-color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

section h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.install-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f76060;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 0 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.install-button:hover {
  background-color: #ff0000;
}

.download-note {
  font-size: 12px;
  color: #ccc;
  margin-top: 10px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.popup-content {
  text-align: center;
}

.popup-content h3 {
  margin-top: 0;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  z-index: 999;
  font-size: 10px;
}

.cookie-banner p,
.cookie-banner button {
  margin: 0 10px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 10px;
}

.image-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}

.image-container img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 5px;
  margin: 10px;
}
